<footer>
  <div class="container">
    <div class="infoFooter">
      <div class="contactanos">
        <h4>Contáctanos</h4>
        <ul>
          <li><i class="fas fa-envelope"></i> info&#64;miempresa.com</li>
          <li><i class="fas fa-phone"></i> +1 555-555-5555</li>
          <li><i class="fas fa-map-marker-alt"></i> Ciudad, País</li>
        </ul>
      </div>
      <div class="navegacion">
        <h4>Navegación</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#aboutMe">About Me</a></li>
          <li><a href="#workExperience">Work Experience</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#personalProyects">Personal Proyects</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p class="text-center">&copy; Argentina Programa 2023.</p>
      </div>
    </div>
  </div>
</footer>
