<div class="bigDiv">
  <h1>Work Experience</h1>
  <div>
    <div *ngFor="let work of workExp;" class="mainContainer">
      <div>

        <div class="container">

          <div class="workContainer">
            <img [src]="work.img" alt="Work Image">
          </div>

          <div class="meContainer">
            <div *ngIf="editingElem !== work.id">
              <h2>{{ work.titulo }}</h2>
              <p>{{ work.descripcion }}</p>
              <button class="btn btn-primary" (click)="editingElem = work.id!; tempWork = work" *ngIf="isLogged">Edit</button>
              <button type="button" class="btn btn-danger" (click)="eliminarWork(work)" *ngIf="isLogged">x</button>
            </div>
            <div class="meModifier" *ngIf="editingElem === work.id">
              <input [(ngModel)]="tempWork.titulo" placeholder="Title">
              <div class="textArea">
                <textarea [(ngModel)]="tempWork.descripcion" placeholder="Description"></textarea>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Image URL</span>
                </div>
                <input type="text" [(ngModel)]="tempWork.img" class="form-control" placeholder="Image URL">
              </div>
              <button class="btn btn-success" (click)="editarWork(tempWork); editingElem = -1">Save</button>
              <button class="btn btn-danger" (click)="editingElem = -1">Cancel</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <button class="btn btn-success agregarLink" (click)="agregarWork()" *ngIf="isLogged">
    Add
  </button>

</div>
